<div class="floatBottomBar">
    <a class="floatBottomItem routeItem routeActive" href="/shop/05987386">
        <img src="/images/sc1.png" alt="">
        <p>商城</p>
    </a>
    <a class="floatBottomItem routeItem" href="/shop/05987386/category">
        <img src="/images/fl0.png" alt="">
        <p>分类</p>
    </a>
    <a class="floatBottomBigItem routeItem" href="/shop/05987386/qrcode">
        <div>
            <img src="/images/sm.png" alt="">
        </div>
        <p>扫码购</p>
    </a>
    <a class="floatBottomItem routeItem" href="/shop/05987386/shopcar">
        <img src="/images/gwc0.png" alt="">
        <p>购物车</p>
    </a>
    <a class="floatBottomItem routeItem" href="/user/mine">
        <img src="/images/wo0.png" alt="">
        <p>我的</p>
    </a>
</div>