<div class="floatBottomBar">
    <a class="floatBottomItem routeItem <%= type == 'shopHome' ? 'routeActive' : '' %>" href="/shop/090703">
        <img src="/images/sc1.png" alt="">
    <a class="floatBottomItem routeItem  <%= type == 'shopCategory' ? 'routeActive' : '' %>" href="/shop/090703/category">
        <img src="/images/fl0.png" alt="">
    <a class="floatBottomBigItem routeItem" href="/shop/090703/qrcode">
        <div>
            <img src="/images/sm.png" alt="">
        </div>
        <p>扫码购</p>
    </a>
    <a class="floatBottomItem routeItem <%= type == 'shopCar' ? 'routeActive' : '' %>" href="/shop/090703/shopcar">
        <img src="/images/gwc0.png" alt="">
    <a class="floatBottomItem routeItem" href="/shop/090703/mine">
        <img src="/images/wo0.png" alt="">
</div>