<div class="floatBottomBar">
    <a class="floatBottomItem routeItem routeActive" href="/shop/<%= shopcode %>">
        <img src="/images/icon_tabbar.png" alt="">
        <p>商城</p>
    </a>
    <a class="floatBottomItem routeItem" href="/shop/<%= shopcode %>/productCategory">
        <img src="/images/icon_tabbar.png" alt="">
        <p>分类</p>
    </a>
    <a class="floatBottomBigItem routeItem" href="">
        <div>
            <img src="/images/icon_tabbar.png" alt="">
        </div>
        <p>扫码购</p>
    </a>
    <a class="floatBottomItem routeItem" href="">
        <img src="/images/icon_tabbar.png" alt="">
        <p>购物车</p>
    </a>
    <a class="floatBottomItem routeItem" href="">
        <img src="/images/icon_tabbar.png" alt="">
        <p>我的</p>
    </a>
</div>