<div class="floatBottomBar">
    <a class="floatBottomItem routeItem routeActive" href="/shop/shopHome?chunk=home">
        <img src="/images/icon_tabbar.png" alt="">
        <p>商城</p>
    </a>
    <a class="floatBottomItem routeItem" href="/shop/shopHome?chunk=category">
        <img src="/images/icon_tabbar.png" alt="">
        <p>分类</p>
    </a>
    <a class="floatBottomBigItem routeItem" href="/shop/shopHome?chunk=qrcode">
        <div>
            <img src="/images/icon_tabbar.png" alt="">
        </div>
        <p>扫码购</p>
    </a>
    <a class="floatBottomItem routeItem" href="/shop/shopHome?chunk=shopcar">
        <img src="/images/icon_tabbar.png" alt="">
        <p>购物车</p>
    </a>
    <a class="floatBottomItem routeItem" href="/shop/shopHome?chunk=mine">
        <img src="/images/icon_tabbar.png" alt="">
        <p>我的</p>
    </a>
</div>