<div class="productFloatBottomBar">
    <div onclick="go_to('/shop/<%= shopcode %>')">
        <img src="/images/sc0.png" alt="">
        <p>商城</p>
    </div>
    <div  onclick="go_to('/shop/<%= shopcode %>/shopcar')">
        <img src="/images/gwc0.png" alt="">
        <p>购物车</p>
    </div>
    <div>
        加入购物车
    </div>
    <div>
        立即购买
    </div>
</div>