<div class="js_dialog" id="errorDialog" style="display: none;">
    <div class="weui-mask"></div>
    <div class="weui-dialog">
        <div class="weui-dialog__bd" id="errorMsg"></div>
        <div class="weui-dialog__ft">
            <input type="hidden" id="del_id"/>
            <a href="javascript:;" class="weui-dialog__btn weui-dialog__btn_primary" onclick="$('#errorDialog').fadeOut(200)">知道了</a>
        </div>
    </div>
</div>
</body>
<!-- body 最后 -->
<script type="text/javascript" src="/javascripts/lodash.min.js" ></script>
<script type="text/javascript" src="/libs/jQuery/jquery.min.js" ></script>
<script type="text/javascript" src="/libs/jq-weui/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="/libs/jq-weui/lib/fastclick.js"></script>
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript" src="/xhr_wx_js_config_js"></script>
<script type="text/javascript" src="/javascripts/weixin.js"></script>
<script type="text/javascript" src="/javascripts/commonfun.js"></script>

<script>
    $(document).ready(function () {
        FastClick.attach(document.body);
    });
</script>

