
  <head>
    <title><%= title?title:"" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 , user-scalable=no">
    <link href="/libs/weui/weui.min.css" rel="stylesheet">
    <link href="/libs/jq-weui/css/jquery-weui.min.css" rel="stylesheet">
    <link href="/stylesheets/common.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
  </head>

