<div id="halfPopup" class="weui-popup__container popup-bottom">
    <div class="weui-popup__overlay" style="opacity: 1;"></div>
    <div class="weui-popup__modal" style="bottom: 50px !important;">
        <div class="toolbar">
            <div class="toolbar-inner">
                <a href="javascript:;" class="picker-button close-popup" style="color: #D8013C;">关闭</a>
                <h1 class="title" id="halfPopupTitle"></h1>
            </div>
        </div>
        <div class="modal-content">
            <div id="halfPopupContent">

            </div>
            <div id="halfPopupMarginBottom" style="width: 100%;"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function showHalfPopup({title = '', content, height = 0}) {
        $('#halfPopupTitle').text(title);
        $('#halfPopupContent').html($('#' + content).html());
        $('#halfPopupMarginBottom').css('height',height);
        $('#halfPopup').popup();
    }
</script>