<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="userRegister">
<div class="iconContainer">
    <p>您的身份信息已审核通过！</p>
    <p>欢迎您加入<span>住友集团</span></p>
    <div class="message">
        <p>TMS帐号：1234455</p>
        <p>TMS密码：1q2w3e</p>
    </div>
    <div class="weui-btn">登录TMS开店</div>
</div>

<% include ./../footer.ejs %>

<script type="text/javascript">
</script>
</body>
</html>