<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="userRegister">
<div class="iconContainer">
    <img src="/images/userRegister_icon.png" alt="">
    <p>您的申请我们已经收到！</p>
    <p>正在审核中……</p>
</div>

<% include ./../footer.ejs %>

<script type="text/javascript">
</script>
</body>
</html>