<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body style="background-color: #464545;text-align: center">

<img src="<%= qrcode %>" style="margin-top: 100px;" />

<% include ./../footer.ejs %>
</body>
</html>