<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="userRegister">
<div class="infoContainer">
    <div class="infoForm">
        <div class="weui-cell">
            <div class="weui-cell__hd">真实姓名 </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="truename" />
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">手机号码 </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="mobile" >
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">所属店铺</div>
            <div class="weui-cell__bd" style="padding-left: 5px">
                  <%= shopInfo.name %>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">邀请人</div>
            <div class="weui-cell__bd" style="padding-left: 5px">
                <%= reguser.userName %>
            </div>
        </div>
    </div>

    <div class="weui-cells__title">
        选择职位
    </div>
    <div class="weui-cells weui-cells_radio">
        <% if (shopmanager.role==1){ %>

        <label class="weui-cell weui-check__label" for="staff">
            <div class="weui-cell__bd">
                <p>员工</p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio"  class="weui-check" name="position" value="0" id="staff" />
                <span class="weui-icon-checked"></span>
            </div>
        </label>

        <% }else if (shopmanager.role==2) { %>

        <label class="weui-cell weui-check__label" for="manager">
            <div class="weui-cell__bd">
                <p>店长</p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio" class="weui-check" name="position" value="1" id="manager" checked="checked" />
                <span class="weui-icon-checked"></span>
            </div>
        </label>
        <label class="weui-cell weui-check__label" for="staff">
            <div class="weui-cell__bd">
                <p>员工</p>
            </div>
            <div class="weui-cell__ft">
                <input type="radio"  class="weui-check" name="position" value="0" id="staff" />
                <span class="weui-icon-checked"></span>
            </div>
        </label>

        <% } %>

    </div>

    <div class="weui-btn" onclick="infoSubmit()">
        提交申请
    </div>
</div>
<input type="hidden" id="stafftype" value="1" />
<% include ./../footer.ejs %>

<script type="text/javascript">
    var stafftype=$("#stafftype");
    var truename=$("#truename");
    var mobile=$("#mobile");
    var shopcode="<%= shopInfo.code %>";
    var pid="<%= reguser.uid %>";

    $(document).ready(function () {
        var firstradio= $('input[name="position"]:eq(0)');
        stafftype.val(firstradio.val());
        firstradio.attr("checked","checked");

        $('input[type="radio"]').on('change',function () {
            stafftype.val($('input[name="position"]:checked').val());
        });
    });

    function infoSubmit() {
        var stafftype_V=stafftype.val();
        var truename_V=truename.val();
        var mobile_V=mobile.val();
        ApiInvoke('user','StaffRegister',
        {
            TrueName:truename_V,
            mobile:mobile_V,
            role:stafftype_V,
            pid:pid,
            shopcode:shopcode
        },function (err,result) {
            if (err){
                $.alert(err);
            }else {
                go_to('/user/staffRegisterSuccess?shopcode='+shopcode);
            }
        });
    }
</script>
</body>
</html>