<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body>
<div class="weui-msg">
    <div class="weui-msg__icon-area"><i class="weui-icon-success weui-icon_msg"></i></div>
    <div class="weui-msg__text-area">
        <h2 class="weui-msg__title">加入成功</h2>
        <p class="weui-msg__desc">
            恭喜你成功加入:<%= shopInfo.name %>
        </p>
    </div>
    <div class="weui-msg__opr-area">
        <p class="weui-btn-area">
            <a href="javascript:;" class="weui-btn weui-btn_primary" onclick="go_to('/user/shopmanage')">进店</a>
        </p>
    </div>
    <div class="weui-msg__extra-area">
        <div class="weui-footer">

        </div>
    </div>
</div>
<% include ./../footer.ejs %>
</body>
</html>