<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="userRegister">
<div class="infoContainer">
    <div class="infoForm">
        <div class="weui-cell">
            <div class="weui-cell__hd">真实姓名 </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="text" id="truename" />
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">手机号码 </div>
            <div class="weui-cell__bd">
                <input class="weui-input" type="number" id="mobile" >
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">选择职位 </div>
            <div class="weui-cell__bd"></div>
            <div class="weui-cell__ft" id="position">店长</div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">店长</div>
            <div class="weui-cell__bd">
                <input type="radio" name="position" id="manager" checked>
                <label class="infoRadio" for="manager"></label>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">员工</div>
            <div class="weui-cell__bd">
                <input type="radio" name="position" id="staff">
                <label class="infoRadio" for="staff"></label>
            </div>
        </div>
        <div class="weui-cell">
            <div class="weui-cell__hd">所属店铺</div>
            <div class="weui-cell__bd" style="padding-left: 5px">
                  <%= shopInfo.name %>
            </div>
        </div>
    </div>
    <div class="weui-btn" onclick="infoSubmit()">
        提交申请
    </div>
</div>
<input type="hidden" id="stafftype" value="1" />
<% include ./../footer.ejs %>

<script type="text/javascript">
    var stafftype=$("#stafftype");
    var truename=$("#truename");
    var mobile=$("#mobile");
    var shopcode="<%= shopInfo.code %>";
    var pid="<%= reguser.uid %>";

    $(document).ready(function () {
        $('input[type="radio"]').on('change',function () {
            var position = $(this).parent().parent().children('.weui-cell__hd').html();
            stafftype.val(position=='员工'?0:1);
            $('#position').html(position);
        })
    });

    function infoSubmit() {
        var stafftype_V=stafftype.val();
        var truename_V=truename.val();
        var mobile_V=mobile.val();
        ApiInvoke('user','StaffRegister',
        {
            TrueName:truename_V,
            mobile:mobile_V,
            role:stafftype_V,
            pid:pid,
            shopcode:shopcode
        },function (err,result) {
            if (err){
                $.alert(err);
            }else {
                go_to('/user/staffRegisterSuccess?shopcode='+shopcode);
            }
        });
    }
</script>
</body>
</html>