<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="couponCenter">
<header>
    <div class="bd-index-header">
        <div class="bd-index-header-icon-back" id="reset_btn_back">
            <span></span>
        </div>
        <div class="bd-index-header-title">
            <%= title %>
        </div>
    </div>
</header>
<ul class="coupon-list" id="coupon-list" style="padding-bottom: 50px">

</ul>

<% include ./../footer.ejs %>

<script type="text/javascript">

</script>

</body>
</html>