<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="userRegister">
<div class="indexContainer">
    <img src="/images/userRegister_logo.png" alt="">
    <a class="weui-btn" href="/user/ownerInfo">店主注册</a>
</div>

<% include ./../footer.ejs %>

<script type="text/javascript">

</script>
</body>
</html>