<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="orderSettle">
<header>
    <div class="bd-index-header">
        <div class="bd-index-header-icon-back" id="reset_btn_back">
            <span></span>
        </div>
        <div class="bd-index-header-title">
            <%= title%>
        </div>
    </div>
</header>
<div class="common-wrapper">
    <div class="checkout">
        <div class="step1 border-1px">
            <div class="m step1-in ">
                <a href="#" class="s-href">
                    <div class="mt_new">
                        <div class="s1-name">
                            <span id="address-name">王涛</span>
                        </div>
                        <div class="s1-phone">
                            <span id="address-mobile">134****4768</span>
                        </div>
                        <div class="s1-default-new" id="address-default" style="display: none">
                            默认
                        </div>
                    </div>
                    <div class="mc step1-in-con">
                        <i class="location-pic"></i>
                        <span id="address-where" class="address-where">上海徐汇区城区上海市徐汇区城区南丹东路238新东亚大厦6-14层</span>
                    </div>
                    <input type="hidden" id="addressId" value="138710097">
                </a>
            </div>
            <b class="s1-borderB"></b>
            <span class="s-point"></span>
        </div>
    </div>
    <div class="weui-panel weui-panel_access">
        <div class="weui-panel__hd">商品列表</div>
        <div class="weui-panel__bd">
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb"
                         src="https://img10.360buyimg.com/n4/jfs/t5887/73/1454021621/286573/b6a887b6/59267f83N026678e6.jpg">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">商品名称</h4>
                    <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                </div>
                <div class="weui-cell__ft">
                    <p>
                        <span class="price mini">1000</span>
                    </p>
                    <p>
                        <span class="quantity">2</span>
                    </p>
                </div>
            </a>
            <a href="javascript:void(0);" class="weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img class="weui-media-box__thumb"
                         src="https://img10.360buyimg.com/n4/jfs/t5887/73/1454021621/286573/b6a887b6/59267f83N026678e6.jpg">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">商品名称</h4>
                    <p class="weui-media-box__desc">由各种物质组成的巨型球状天体，叫做星球。星球有一定的形状，有自己的运行轨道。</p>
                </div>
                <div class="weui-cell__ft">
                    <p>
                        <span class="price mini">1000</span>
                    </p>
                    <p>
                        <span class="quantity">2</span>
                    </p>
                </div>
            </a>
        </div>
        <div class="weui-panel__ft">
            <a href="javascript:void(0);" class="weui-cell weui-cell_access weui-cell_link">
                <div class="weui-cell__bd" style="color:#262629">配送方式</div>
                <span class="weui-cell__ft" style="color:#262629">快递</span>
            </a>
        </div>
    </div>

    <div class="weui-cells nopadding">
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <span class="px15">优惠券</span>
                <i class="sitem-tip">0张可用</i>
            </div>
            <div class="weui-cell__ft">
                <span class="px14">未使用</span>
            </div>
        </a>
        <a class="weui-cell weui-cell_access" href="javascript:;">
            <div class="weui-cell__bd">
                <span class="px15">会员积分</span>
                <i class="sitem-tip">0分可用</i>
            </div>
            <div class="weui-cell__ft">
                <span class="px14">未使用</span>
            </div>
        </a>
    </div>
    <div class="step5 border-1px-top outpay-items" id="yunfeeList">
        <div class="price-items">
              <span class="price-items-all">
                     <span>
                         总价:
                         <span class="price maxnoweight">100.00</span>
                     </span>
              </span>                                                                                                                                                                                                                                                                                                             <em class="priceweight">(总重:0.680kg)</em>                                                                                                                                                                                                                                                                                                                                            </span>                                                                                                                                                                                                                                                                                         <em class="priceweight">(总重:0.680kg)</em>                                                                                                                                                                                                                                                                                                                                            </span>
        </div>
        <a href="javascript:;">
            <div class="pay-leak-btn-red">在线支付</div>
        </a>
        <a href="javascript:;">
            <div class="pay-leak-btn">货到付款</div>
        </a>
    </div>
</div>
<% include ./../footer.ejs %>
<script type='text/javascript' src="/libs/jq-weui/js/swiper.min.js" charset='utf-8'></script>
<script type="text/javascript">

</script>
</html>