<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="shopStaffInfo">
<header>
    <div class="bd-index-header">
        <div class="bd-index-header-icon-back" id="reset_btn_back">
            <span></span>
        </div>
        <div class="bd-index-header-title">
            <%= title %>
        </div>
    </div>
</header>

<% include ./../footer.ejs %>

<script type='text/javascript' src="/libs/jq-weui/js/swiper.min.js" charset='utf-8'></script>
<script type="text/javascript">
</script>
</body>
</html>