<!DOCTYPE html>
<html>
<% include ./../header.ejs %>
<body class="shopCar">

<div class="pageContainer">
    <div class="shopCarBody"></div>

    <div class="shopCarBar">
        <div class="shopCarSelectAll">
            <div>
                <input type="checkbox" id="allCheck">
                <label for="allCheck"></label>
            </div>
            <label for="allCheck">全选</label>
        </div>
        <div class="shopCarCount">
            合计:￥0.0
        </div>
        <div class="shopCarAccount">
            去结算(0)
        </div>
    </div>
</div>

<% include ./../footer.ejs %>

<script type="text/javascript">
</script>

</html>