.shopCategory {
  header {
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: PingFangSC-Regular, Helvetica, "Droid Sans", Arial, sans-serif;
    vertical-align: baseline;
    font: inherit;
  }
  .bd-index-header {
    position: relative;
    background: #efefef url(/images/header-bg.png) repeat-x 0 0;
    background-size: 100% 44px;
    min-height: 44px;
    border-bottom: 1px solid #bfbfbf;
    border-width: 0 0 1px 0;
  }
  .bd-index-header-icon-back {
    position: absolute;
    width: 40px;
    height: 44px;
    span {
      width: 20px;
      height: 20px;
      background-position: -20px 0;
      margin: 12px 0 0 10px;
      text-indent: -100px;
      overflow: hidden;
      display: block;
      background: url(/images/jd-sprites.png) no-repeat -20px top;
      background-size: 200px 200px;
    }
  }
  @padding-bottom:53px;

  .shopHomeSearch {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    z-index: 50;
    @shopHomeLocationWidth:60px;
    .bd-index-header {
      position: relative;
      background: #efefef url(/images/header-bg.png) repeat-x 0 0;
      background-size: 100% 44px;
      min-height: 44px;
      border-bottom: 1px solid #bfbfbf;
      border-width: 0 0 1px 0;
    }
    .bd-index-header-title {
      height: 44px;
      line-height: 44px;
      font-size: 16px;
      color: #252525;
      padding-top: 6px;
      div {
        background: #fff;
        display: block;
        width: calc(~'100% - 30px');
        margin: 0 0 0 15px;
        -moz-border-radius: 4px 0 0 4px;
        -webkit-border-radius: 4px 0 0 4px;
        border-radius: 4px;
        overflow: hidden;
        font-size: 12px;
        border: 1px solid #bfbfbf;
        height: 30px;
        line-height: 30px;
        color: #888;
        float: left;
        padding: 0 15px;
        i {
          margin-right: 5px;
        }
      }
    }
  }

  .shopCategoryNav {
    position: fixed;
    top: 45px;
    left: 0;
    bottom:@padding-bottom;
    width: 70px;
    height: calc(~"100% - 50px - 50px");
    z-index: 50;
    background: #fff;
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: none;
    .shopCategoryNavContainer {
      width: 100%;
      .shopCategoryNavItem {
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #eee;
        color:#696969;
        text-align: center;
        font-size: 12px;
        background: #F0F0F5;
      }
      .shopCategoryNavActive {
        color:#E4393C !important;
        background: #fff !important;
        border-right:none !important;
      }
    }
  }
  .shopCategoryContent {
    margin-left: 70px;
    width: calc(~'100% - 70px');
    height: 100%;
    overflow-y: scroll;
    overflow-scrolling: touch;
    -webkit-overflow-scrolling: touch;
    padding: 50px 0;
    position: relative;
    .shopCategoryProduct {
      width: 50%;
      float: left;
      padding: 5px;
      text-align: center;
      overflow: hidden;
      border-radius: 1px;
      img {
        width: 110px;
        height: 110px;
      }
      div {
        font-size: 12px;
        line-height: 14px;
        height: 28px;
        overflow: hidden;
      }
    }
  }
}