.shopProductSearch{
   .weui-media-box__hd{
     position: relative;
     &:after{
       position: absolute;
       top: 0;
       left: 0;
       width: 200%;
       height: 200%;
       content: '';
       border: 1px solid #e3e5e9;
       border-radius: 4px;
       -webkit-border-radius: 4px;
       transform: scale(.5);
       -webkit-transform: scale(.5);
       transform-origin: top left;
       -webkit-transform-origin: top left;
     }
   }
}